/* ----------------------------------------------------------------------------
Variables Sass
------------------------------------------------------------------------------- */
$largeur_burger: 2rem;
$duree: .25s;

/* ----------------------------------------------------------------------------
Bouton burger
------------------------------------------------------------------------------- */
#burger {
    //display: block;
    position: relative;
    width: $largeur_burger;
    height: $largeur_burger;
    //border: 1px solid #888;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1rem;
    div {
        position: absolute;
        width: 100%;
        height: 100%;
        &:nth-of-type(1) {
            clip-path: polygon(0 15%, 100% 15%, 100% 25%, 0 25%);
            // État final: clip-path: polygon(5% -5%, 105% 95%, 95% 105%, -5% 5%);
            background-color: rgb(179, 255, 0);
        }
        &:nth-of-type(2) {
            clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
            //  État final: clip-path: polygon(50% 45%, 50% 45%, 50% 55%, 50% 55%);
            background-color: rgb(0, 17, 255);
            //z-index: -1;
        }
        &:nth-of-type(3) {
            clip-path: polygon(0 75%, 100% 75%, 100% 85%, 0 85%);
            // État final: clip-path: polygon(-5% 95%, 95% -5%, 105% 5%, 5% 105%);
            background-color: rgb(255, 0, 157);
            z-index: -1;
        }
    }
}

/* div.menu ul.nav-menu {
    margin-bottom: 2rem;
} */

/* ----------------------------------------------------------------------------
Animation de la première barre bar1
------------------------------------------------------------------------------- */
@keyframes ouvrirX1 {
    0% {
        clip-path: polygon(0 15%, 100% 15%, 100% 25%, 0 25%);
    }
    100% {
        
        clip-path: polygon(5% -5%, 105% 95%, 95% 105%, -5% 5%);
    };
}

@keyframes fermerX1 {
    0% {
        clip-path: polygon(5% -5%, 105% 95%, 95% 105%, -5% 5%);
        
    }
    100% {
        clip-path: polygon(0 15%, 100% 15%, 100% 25%, 0 25%);
    };
}

.ouvrirX1 {
    animation: ouvrirX1 $duree both;
}

.fermerX1 {
    animation: fermerX1 $duree both;
}


/* ----------------------------------------------------------------------------
Animation de la première barre bar2
------------------------------------------------------------------------------- */
@keyframes ouvrirX2 {
    0% {
        clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
    }
    100% {
        clip-path: polygon(50% 45%, 50% 45%, 50% 55%, 50% 55%);
    };
}

@keyframes fermerX2 {
    0% {
        clip-path: polygon(50% 45%, 50% 45%, 50% 55%, 50% 55%);
    }
    100% {
        clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
    };
}

.ouvrirX2 {
    animation: ouvrirX2 $duree both;
}

.fermerX2 {
    animation: fermerX2 $duree both;
}


/* ----------------------------------------------------------------------------
Animation de la première barre bar3
------------------------------------------------------------------------------- */
@keyframes ouvrirX3 {
    0% {
        clip-path: polygon(0 75%, 100% 75%, 100% 85%, 0 85%);
    }
    100% {
        clip-path: polygon(-5% 95%, 95% -5%, 105% 5%, 5% 105%);
    };
}

@keyframes fermerX3 {
    0% {
        clip-path: polygon(-5% 95%, 95% -5%, 105% 5%, 5% 105%);
    }
    100% {
        clip-path: polygon(0 75%, 100% 75%, 100% 85%, 0 85%);
    };
}

.ouvrirX3 {
    animation: ouvrirX3 $duree both;
}

.fermerX3 {
    animation: fermerX3 $duree both;
}