.carrousel {
    display: flex;
    width: 300vw;
    height: 20vh;
    transition: transform .5s;


    div {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    
        &:nth-of-type(1){
            background-color: rgb(190, 67, 67);
        }
        &:nth-of-type(2){
            background-color: rgb(77, 190, 67);
        }
        &:nth-of-type(3){
            background-color: rgb(67, 90, 190);
        }

    } // fin du div
}

#un, #deux, #trois {
    border-radius: 50%;
}

#un:hover, #deux:hover, #trois:hover {
    background-color: rgb(135, 201, 255);
}

.boutRadio {
    text-align: center;
    width: 100vw;
    background-color: paleturquoise;
}